[project]
	description = test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ankit Kamboj (kambojankit)
[access "refs/for/refs/*"]
	read = group user/Ankit Kamboj (kambojankit)
	push = group user/Ankit Kamboj (kambojankit)
	label-Code-Review = -2..+2 group user/Ankit Kamboj (kambojankit)
	label-Verified = -1..+1 group user/Ankit Kamboj (kambojankit)
	rebase = group user/Ankit Kamboj (kambojankit)
	removeReviewer = group user/Ankit Kamboj (kambojankit)
	submit = group user/Ankit Kamboj (kambojankit)
[access "refs/heads/*"]
	read = group user/Ankit Kamboj (kambojankit)
	create = group user/Ankit Kamboj (kambojankit)
	push = +force group user/Ankit Kamboj (kambojankit)
	pushMerge = group user/Ankit Kamboj (kambojankit)
[access "refs/tags/*"]
	push = +force group user/Ankit Kamboj (kambojankit)
	pushTag = group user/Ankit Kamboj (kambojankit)
	pushSignedTag = group user/Ankit Kamboj (kambojankit)
